body {
  background: #000;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

/* Prevent selection highlighting */
.page-title,
.MathJax {
  outline: none;
}

.MathJax_Preview,
.premath {
  color: transparent!important;
}

.MathJax .math {
  transition: color 0.5s ease-in-out;
  color: transparent;
}
